[nav-selectable] {
  margin: 2.5px 10px;
}
[nav-selectable] > * {
  margin: 0;
}
button {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 18px;
  border: 2px solid #555;
  font-weight: bold;
  padding: 3px 10px;
}

button:focus {
  background-color: #820099;
  border-color: #820099;
  color: white;
}

button[nav-selectable="false"] {
  background-color: #999;
  color: #555;
}

.info {
  background-color: white;
  padding: 5px 20px;
  margin: 2.5px 10px;
  border-radius: 18px;
  overflow:hidden;
}

.label {
  color: #555;
  font-size: x-small;
  margin-right: 5px;

}

.value{
  color: black;
  font-size: small;
  flex-grow: 1;
}

.value::after {
  content: "\00a0";
}

.dialog-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: #5555557c;
}

.dialog {
  display:flex;
  flex-direction:column;
  position: fixed;
  bottom: 30px;
  left: 0px;
  width: 100%;
  z-index: 3;
  background-color: white;
}

.dialog .title {
  background-color: #820099;
  color: white;
  font-weight: bold;
  padding: 2px 5px;
}
.dialog .body {
  padding: 2px 5px;
}

#ad-container {
  height: 60px;
  width: 100%;
  background-color: #666;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.nav-group {
  background-color: white;
  border-radius: 18px;
}
.nav-group > span.label {
   margin-left: 20px;
}

button[horz-selectable-group] {
  padding: 3px 0px;
  border-radius: 0px;
  border-width: 2px 0px 2px 2px;
  flex-grow: 1;
}

button[horz-selectable-group]:first-child {
  border-radius: 18px 0px 0px 18px;
}

button[horz-selectable-group]:last-child {
  border-right-width: 2px;
  border-radius: 0px 18px 18px 0px;
}
.selected {
  background-color:rgb(130, 254, 130);
}
.nav-selectable-ad {
  width: 240px;
  max-width: 240px;
  min-width: 240px;
  height:60px;
  max-height:60px;
  min-height:60px;
  overflow:hidden;
}
.nav-selectable-ad:focus {
  outline: 2px solid purple;
}