header {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(106, 0, 128);
  padding: 3px 10px;
  margin-bottom: 2.5px;
}

header span {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
